In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

In [ ]:
df = pd.read_csv('/content/FidelFolio_Dataset.csv')

In [ ]:
df.shape

(24751, 33)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24751 entries, 0 to 24750
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        24751 non-null  int64
 1   Company     24751 non-null  object
 2   Feature1    20914 non-null  float64
 3   Feature2    21999 non-null  float64
 4   Feature3    22770 non-null  float64
 5   Feature4    24204 non-null  object
 6   Feature5    24148 non-null  object
 7   Feature6    24050 non-null  object
 8   Feature7    24274 non-null  object
 9   Feature8    24751 non-null  float64
 10  Feature9    23514 non-null  object
 11  Feature10   24025 non-null  float64
 12  Feature11   24207 non-null  float64
 13  Feature12   24292 non-null  float64
 14  Feature13   24729 non-null  float64
 15  Feature14   24716 non-null  float64
 16  Feature15   24198 non-null  float64
 17  Feature16   24625 non-null  float64
 18  Feature17   24702 non-null  float64
 19  Feature18   24625 non-null  float64
 20  Feature19   24724 non-null  float64
 21  Feature20   24384 non-null  float64
 22  Feature21   24334 non-null  float64
 23  Feature22   24564 non-null  float64
 24  Feature23   24706 non-null  float64
 25  Feature24   24705 non-null  float64
 26  Feature25   24701 non-null  float64
 27  Feature26   24702 non-null  float64
 28  Feature27   24727 non-null  float64
 29  Feature28   22719 non-null  float64
 30   Target 1   22964 non-null  object
 31   Target 2   21409 non-null  object
 32   Target 3   19885 non-null  object
dtypes: float64(23), int64(1), object(9)
memory usage: 6.2+ MB

In [ ]:
df.isnull().sum()

Year             0
Company          0
Feature1      3837
Feature2      2752
Feature3      1981
Feature4       547
Feature5       603
Feature6       701
Feature7       477
Feature8         0
Feature9      1237
Feature10      726
Feature11      544
Feature12      459
Feature13       22
Feature14       35
Feature15      553
Feature16      126
Feature17       49
Feature18      126
Feature19       27
Feature20      367
Feature21      417
Feature22      187
Feature23       45
Feature24       46
Feature25       50
Feature26       49
Feature27       24
Feature28     2032
 Target 1     1787
 Target 2     3342
 Target 3     4866
dtype: int64

In [ ]:
df.columns

Index(['Year', 'Company', 'Feature1', 'Feature2', 'Feature3', 'Feature4',
       'Feature5', 'Feature6', 'Feature7', 'Feature8', 'Feature9', 'Feature10',
       'Feature11', 'Feature12', 'Feature13', 'Feature14', 'Feature15',
       'Feature16', 'Feature17', 'Feature18', 'Feature19', 'Feature20',
       'Feature21', 'Feature22', 'Feature23', 'Feature24', 'Feature25',
       'Feature26', 'Feature27', 'Feature28', ' Target 1 ', ' Target 2 ',
       ' Target 3 '],
      dtype='object')

In [ ]:
df

,Year,Company,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,...,Feature22,Feature23,Feature24,Feature25,Feature26,Feature27,Feature28,Target 1,Target 2,Target 3
0,1999,Hind. Unilever,15.00,65.87,54.57,41.12,45.82,123.34,0.65,33131.93,...,19.581982,1192.76,1222.04,1120.99,1091.71,1956.94,264.31,5.38,29.08,42.37
1,1999,ITC,66.00,35.77,32.29,37.91,36.37,-269.26,0.57,23632.98,...,10.904040,1040.32,1249.28,1146.99,938.03,3486.42,1252.22,-67.4,-23.41,-33.87
2,1999,Wipro,79.00,31.40,46.55,164.42,74.72,348.29,1.61,18438.55,...,44.860469,182.67,218.26,153.73,118.14,828.14,281.07,538.95,60.23,108.3
3,1999,O N G C,37.00,13.78,11.82,6.12,3.23,6.02,1.19,16868.75,...,0.695653,4269.99,5100.39,4404.90,3574.50,32398.94,8150.14,-29.06,4.07,124.85
4,1999,Lila Worldwide,NaN,0.16,0.14,"5,715.31",-4.41,NaN,"-1,094.90",14916.95,...,4.154480,4.59,4.77,3.09,2.91,3590.57,NaN,150.06,598.24,"1,057.39"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24746,2024,Uniphos Enter.,NaN,1.63,1.61,NaN,-268.48,19.95,-0.09,931.62,...,0.482592,39.77,39.77,38.94,38.94,2075.45,NaN,NaN,NaN,NaN
24747,2024,Semac Consul,0.13,-27.75,-33.08,NaN,NaN,NaN,0.6,929.59,...,NaN,-31.00,-29.13,-30.87,-32.74,105.13,19.23,NaN,NaN,NaN
24748,2024,Sarveshwar Foods,1.26,11.77,8.21,55.01,-100.44,140.92,-0.15,923.02,...,4.003557,23.61,63.05,61.93,22.49,551.20,298.25,NaN,NaN,NaN
24749,2024,Chemfab Alka.,0.03,10.35,6.91,35.05,29.42,-11.8,0.77,922.45,...,2.381930,61.49,63.25,40.90,39.14,410.71,20.11,NaN,NaN,NaN
24750,2024,Bodal Chemicals,0.77,3.46,1.13,142.43,4.51,-15.69,3.46,921.53,...,0.851502,65.22,119.47,58.98,4.73,1986.07,903.80,NaN,NaN,NaN

In [ ]:
df.describe()

,Year,Feature1,Feature2,Feature3,Feature8,Feature10,Feature11,Feature12,Feature13,Feature14,...,Feature19,Feature20,Feature21,Feature22,Feature23,Feature24,Feature25,Feature26,Feature27,Feature28
count,24751.000000,20914.000000,21999.000000,22770.000000,2.475100e+04,24025.000000,24207.000000,24292.000000,2.472900e+04,24716.000000,...,24724.000000,24384.000000,24334.000000,24564.000000,24706.000000,24705.000000,24701.000000,24702.000000,2.472700e+04,2.271900e+04
mean,2012.952972,148.094357,17.857211,15.883015,9.498492e+03,128.348474,-535.925509,507.671157,1.673431e+04,1295.060045,...,3484.034354,314.059076,419.448982,5.964409,806.636171,1466.142041,1252.019445,592.415449,9.612212e+03,1.268924e+04
std,7.368602,1985.689454,15.149271,21.162288,4.568186e+04,3404.341356,3369.980788,4914.354986,1.342341e+05,9379.032152,...,17050.583469,2813.130445,2516.775615,290.323524,4096.404868,7543.395905,6993.588813,3337.552197,6.984420e+04,1.095691e+05
min,1999.000000,0.010000,-109.440000,-808.950000,2.363000e+01,-54666.770000,-144736.580000,-97820.410000,-1.487700e+04,-1.590000,...,-104166.800000,-932.280000,-73878.100000,-1018.341463,-42309.000000,-42247.000000,-46404.300000,-61797.000000,-1.459900e+04,1.000000e-02
25%,2007.000000,7.000000,9.030000,7.210000,3.403250e+02,-85.220000,-207.330000,6.580000,3.213800e+02,11.617500,...,173.212500,5.227500,12.570000,0.938619,32.290000,51.030000,35.160000,17.215000,3.229300e+02,6.593000e+01
50%,2014.000000,52.000000,14.830000,14.390000,1.027400e+03,-7.500000,-50.640000,65.260000,9.464900e+02,50.945000,...,528.390000,18.445000,53.595000,1.979459,108.440000,153.230000,114.710000,73.505000,9.396800e+02,3.020400e+02
75%,2019.000000,125.750000,23.220000,22.357500,3.910885e+03,55.420000,-6.690000,270.085000,3.328660e+03,264.327500,...,1686.272500,70.802500,193.717500,4.115079,363.430000,520.570000,404.290000,264.290000,3.213700e+03,1.378075e+03
max,2024.000000,227428.000000,444.800000,934.770000,2.014010e+06,101904.000000,21232.980000,158788.000000,6.703736e+06,398905.120000,...,793481.000000,155386.390000,69621.000000,45253.666670,155559.000000,354825.220000,350976.090000,104727.000000,5.252252e+06,5.606147e+06

In [ ]:
df.head()

,Year,Company,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,...,Feature22,Feature23,Feature24,Feature25,Feature26,Feature27,Feature28,Target 1,Target 2,Target 3
0,1999,Hind. Unilever,15.0,65.87,54.57,41.12,45.82,123.34,0.65,33131.93,...,19.581982,1192.76,1222.04,1120.99,1091.71,1956.94,264.31,5.38,29.08,42.37
1,1999,ITC,66.0,35.77,32.29,37.91,36.37,-269.26,0.57,23632.98,...,10.904040,1040.32,1249.28,1146.99,938.03,3486.42,1252.22,-67.4,-23.41,-33.87
2,1999,Wipro,79.0,31.40,46.55,164.42,74.72,348.29,1.61,18438.55,...,44.860469,182.67,218.26,153.73,118.14,828.14,281.07,538.95,60.23,108.3
3,1999,O N G C,37.0,13.78,11.82,6.12,3.23,6.02,1.19,16868.75,...,0.695653,4269.99,5100.39,4404.90,3574.50,32398.94,8150.14,-29.06,4.07,124.85
4,1999,Lila Worldwide,NaN,0.16,0.14,"5,715.31",-4.41,NaN,"-1,094.90",14916.95,...,4.154480,4.59,4.77,3.09,2.91,3590.57,NaN,150.06,598.24,"1,057.39"

In [ ]:
df['Company'].value_counts()

Company
Hind. Unilever      26
ITC                 26
Wipro               26
Patel Engineerin    26
Cummins India       26
                    ..
Zaggle Prepaid       1
Nuvama Wealth        1
R R Kabel            1
SignatureGlobal      1
Nexus Select         1
Name: count, Length: 2796, dtype: int64

In [ ]:
num_companies

2796

In [ ]:
pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.11/dist-packages (2.18.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from tensorflow) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (5.29.4)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/dist-packages (from tensorflow) (75.2.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.0.1)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (4.13.1)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.71.0)
Requirement already satisfied: tensorboard<2.19,>=2.18 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.18.0)
Requirement already satisfied: keras>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: numpy<2.1.0,>=1.26.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.0.2)
Requirement already satisfied: h5py>=3.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.13.0)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.37.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (0.15.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (2025.1.31)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.11/dist-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)

USING MLP

In [ ]:
# --- [IMPORTS, CONFIGURATION as before]
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import RobustScaler, LabelEncoder, StandardScaler
from sklearn.decomposition import PCA # Keep PCA
from tensorflow.keras.models import Model
from tensorflow.keras.layers import (Input, LSTM, Dense, Embedding, # Keep Embedding, Dense, Input
                                     Concatenate, Masking, Flatten, Dropout) # Keep Flatten, Concatenate, Dropout
# Remove Masking, LSTM unless needed for a hybrid approach (not requested here)
from tensorflow.keras.preprocessing.sequence import pad_sequences
import tensorflow as tf
from tensorflow.keras.metrics import RootMeanSquaredError
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
import warnings
import gc

# --- Configuration ---
# Preprocessing
N_NEIGHBORS_IMPUTE = 5
Z_SCORE_CAP = 3
PCA_VARIANCE_RATIO = 0.95
# Model Hyperparameters
EMBEDDING_DIM = 16
# MLP Specific - define layer sizes
MLP_L1_UNITS = 128        # Units in first MLP hidden layer
MLP_L2_UNITS = 64         # Units in second MLP hidden layer
DENSE_UNITS = MLP_L2_UNITS # Use L2 size for consistency if needed later, otherwise remove
DROPOUT_RATE = 0.3       # Dropout rate might need adjustment for MLP
LEARNING_RATE = 1e-4
# Training Parameters
EPOCHS = 75
BATCH_SIZE = 32
VALIDATION_SPLIT = 0.15
EARLY_STOPPING_PATIENCE = 12
REDUCE_LR_PATIENCE = 6
MIN_HISTORY_YEARS = 2

warnings.filterwarnings('ignore', category=pd.errors.SettingWithCopyWarning)
tf.get_logger().setLevel('WARN')
tf.autograph.set_verbosity(0)

# --- Load Data ---
# Assume df is loaded
# df = pd.read_csv('your_data.csv')
print("--- Initial Data Sample (from df) ---")
print(df.head())
print(f"\nInitial DataFrame shape: {df.shape}")

# --- Preprocessing ---

# --- Preprocessing ---

# 1. Clean column names
print("\n--- 1. Cleaning Column Names ---")
df.columns = df.columns.str.strip()

# 2. Convert object columns to numeric
print("\n--- 2. Converting Columns to Numeric ---")
# (Assuming this part works as intended)
potential_numeric_cols = df.select_dtypes(include='object').columns
if 'Company' in potential_numeric_cols: potential_numeric_cols = potential_numeric_cols.drop('Company')
converted_count = 0
for col in potential_numeric_cols:
    if col not in df.columns: continue
    try:
        original_type = df[col].dtype
        converted_col = pd.to_numeric(df[col].astype(str).str.replace(',', '', regex=False), errors='coerce')
        if pd.api.types.is_numeric_dtype(converted_col) and converted_col.notnull().sum() > 0:
             df[col] = converted_col
             if df[col].dtype != original_type: converted_count += 1
    except Exception: pass
print(f"Attempted numeric conversion. {converted_count} columns changed type.")

# --- [MODIFIED] Step 3: Feature Engineering (Generic Differences) ---
print("\n--- 3. Feature Engineering (Generic Differences) ---")
target_cols = ['Target 1', 'Target 2', 'Target 3']
engineered_features = []

# Identify original numeric features BEFORE creating differences
original_numeric_cols = df.select_dtypes(include=np.number).columns.drop(
    target_cols + ['Year', 'Company_ID'], errors='ignore' # Exclude targets, Year, and maybe old Company_ID
).tolist()

print(f"Calculating YoY differences for {len(original_numeric_cols)} original numeric features...")
df = df.sort_values(by=['Company', 'Year']) # CRITICAL: Sort before using shift/diff

for col in original_numeric_cols:
    # Ensure the original column is numeric first
    df[col] = pd.to_numeric(df[col], errors='coerce')
    # Calculate absolute difference
    diff_col_name = f'FE_{col}_Diff'
    df[diff_col_name] = df.groupby('Company')[col].diff()
    # Convert to float32 and add to list for processing
    df[diff_col_name] = df[diff_col_name].astype(np.float32)
    engineered_features.append(diff_col_name)

print(f" - Created {len(engineered_features)} absolute difference (YoY) features.")

# --- [MODIFIED] Step 4: Separate Columns & Identify ALL Features for Processing ---
print("\n--- 4. Separating Columns & Identifying Processing Features ---")
company_col_preserved = df['Company'].copy()
year_col_preserved = df['Year'].copy()
target_df_preserved = df[target_cols].copy() # Preserve original targets

# Start with the original numeric cols + newly engineered diff cols
numeric_processing_cols = original_numeric_cols + engineered_features

# Remove any duplicates just in case, and ensure they exist
numeric_processing_cols = sorted(list(set(
    col for col in numeric_processing_cols if col in df.columns
)))

# --- Final Sanity Checks ---
if 'Year' in numeric_processing_cols: raise ValueError("FATAL: 'Year' included for processing!")
if 'Company' in numeric_processing_cols: raise ValueError("FATAL: 'Company' included for processing!")
if any(tc in numeric_processing_cols for tc in target_cols): raise ValueError("FATAL: Targets included for processing!")
# --- End Sanity Checks ---

numeric_df_to_process = df[numeric_processing_cols].copy()
print(f"{len(numeric_processing_cols)} numeric columns identified for processing (Original + Engineered Diffs).")

# 5. KNN Imputation (Features + Engineered Features)
print("\n--- 5. Performing KNN Imputation ---")
# (Impute the combined set of original features and difference features)
if not numeric_df_to_process.empty and numeric_df_to_process.isnull().any().any():
    null_counts_before = numeric_df_to_process.isnull().sum()
    print(f"Nulls before imputation in {null_counts_before[null_counts_before > 0].count()} columns (Total: {null_counts_before.sum()})")
    imputer = KNNImputer(n_neighbors=N_NEIGHBORS_IMPUTE)
    numeric_df_to_process = numeric_df_to_process.astype(np.float32)
    imputed_array = imputer.fit_transform(numeric_df_to_process)
    numeric_df_processed = pd.DataFrame(imputed_array, columns=numeric_processing_cols, index=numeric_df_to_process.index)
    if numeric_df_processed.isnull().sum().sum() > 0: print("WARNING: Nulls remain after KNN imputation!")
    else: print("Imputation complete.")
else:
    print("No missing values found in processing columns or no columns to process.")
    numeric_df_processed = numeric_df_to_process

# 6. Robust Scaling (Features + Engineered Features)
print("\n--- 6. Applying Robust Scaler ---")
cols_to_scale = numeric_processing_cols
if cols_to_scale and not numeric_df_processed.empty:
    feature_scaler = RobustScaler()
    scaled_data = feature_scaler.fit_transform(numeric_df_processed[cols_to_scale])
    numeric_df_scaled = pd.DataFrame(scaled_data, columns=cols_to_scale, index=numeric_df_processed.index)
    print(f"Scaled {len(cols_to_scale)} columns (Original + Diffs) using RobustScaler.")
else:
    print("No columns identified or available for scaling.")
    numeric_df_scaled = numeric_df_processed

# 7. Capping Outliers (on Scaled Features + Engineered Features)
print("\n--- 7. Capping Outliers ---")
# (Cap the combined set)
if cols_to_scale and not numeric_df_scaled.empty:
    numeric_df_capped = numeric_df_scaled.copy()
    capped_cols_count = 0
    for col in cols_to_scale:
        col_data = numeric_df_capped[col].dropna();
        if not col_data.empty:
            col_mean=col_data.mean(); col_std=col_data.std()
            if pd.notna(col_std) and col_std > 1e-6:
                lower=col_mean-Z_SCORE_CAP*col_std; upper=col_mean+Z_SCORE_CAP*col_std
                min_orig=numeric_df_capped[col].min(); max_orig=numeric_df_capped[col].max()
                numeric_df_capped[col]=numeric_df_capped[col].clip(lower, upper)
                if numeric_df_capped[col].min()>min_orig or numeric_df_capped[col].max()<max_orig: capped_cols_count+=1
    if capped_cols_count > 0: print(f"Capped outliers in {capped_cols_count} columns.")
    else: print("No outliers needed capping.")
    numeric_df_final_processed = numeric_df_capped
else:
    print("No columns available for capping.")
    numeric_df_final_processed = numeric_df_scaled

# 8. Apply PCA (on combined imputed, scaled, capped features)
print(f"\n--- 8. Applying PCA (Retaining {PCA_VARIANCE_RATIO*100:.0f}% Variance) ---")
n_original_features = numeric_df_final_processed.shape[1]
if n_original_features > 0:
    pca = PCA(n_components=PCA_VARIANCE_RATIO)
    pca_components = pca.fit_transform(numeric_df_final_processed)
    n_components = pca.n_components_
    print(f"PCA applied. Reduced features from {n_original_features} to {n_components}.")
    pc_cols = [f'PC_{i+1}' for i in range(n_components)]
    pca_df = pd.DataFrame(pca_components, columns=pc_cols, index=numeric_df_final_processed.index)
    numeric_features_for_lstm = pc_cols # LSTM will use these PC columns
else:
    print("Skipping PCA: No numeric features to process.")
    pca_df = pd.DataFrame(index=df.index)
    numeric_features_for_lstm = []
    n_components = 0

# 9. Reconstruct DataFrame (Using PCA Components)
print("\n--- 9. Reconstructing DataFrame with PCA Components ---")
final_df = pd.concat([
    company_col_preserved.reset_index(drop=True),
    year_col_preserved.reset_index(drop=True),
    pca_df.reset_index(drop=True),             # PCA components
    target_df_preserved.reset_index(drop=True) # Original Targets
], axis=1)

# 10. Scale Target Variables
print("\n--- 10. Scaling Target Variables (Separately) ---")
# (Same code as before to scale targets and store scalers)
target_scalers = {}
final_df_scaled_targets = final_df.copy()
for target_col in target_cols:
    if target_col not in final_df_scaled_targets.columns: continue
    scaler = StandardScaler()
    target_data = final_df_scaled_targets[[target_col]].astype(np.float32)
    valid_target_data = target_data.dropna()
    if not valid_target_data.empty:
        scaler.fit(valid_target_data)
        final_df_scaled_targets[target_col] = scaler.transform(target_data)
        target_scalers[target_col] = scaler
        print(f"Applied StandardScaler to target column: '{target_col}'")
    else: target_scalers[target_col] = None

# 11. Label Encode Company
print("\n--- 11. Encoding Company Names ---")
le = LabelEncoder()
final_df_scaled_targets['Company_ID_Encoded'] = le.fit_transform(final_df_scaled_targets['Company'])
num_companies = final_df_scaled_targets['Company_ID_Encoded'].nunique()
print(f"Encoded 'Company' into 'Company_ID_Encoded'. Found {num_companies} unique companies.")

print("\n--- Final Preprocessed Data Sample (PCA Features, Scaled Targets) ---")
print(final_df_scaled_targets.head())
print(f"\nFinal DataFrame shape: {final_df_scaled_targets.shape}")
# Final check for NaNs in PCA components
if not numeric_features_for_lstm: print("No PCA features to check.")
elif final_df_scaled_targets[numeric_features_for_lstm].isnull().any().any():
      print(f"\nWARNING: NaNs detected in final PCA columns:\n{final_df_scaled_targets[numeric_features_for_lstm].isnull().sum().sort_values(ascending=False).head()}")



# 12. Sort Data
print("\n--- 12. Sorting Data ---")
final_df_scaled_targets = final_df_scaled_targets.sort_values(by=['Company_ID_Encoded', 'Year']).reset_index(drop=True)

# 13. Define LSTM Features (PCA Components used by sequence generator)
print("\n--- 13. Defining Features for Sequence Input (Using PCA Components) ---")
print(f"Features for sequence input ({len(numeric_features_for_lstm)}): {numeric_features_for_lstm[:5]}...")

# 14. Sequence Creation Function (Keep as is)
print("\n--- 14. Defining Sequence Creation Function ---")
# (Function definition remains the same - it creates 3D sequence arrays)
def create_sequences(df, numeric_cols, target_cols, company_col_id_encoded, year_col, min_hist_years=1):
    # ... (exact same function implementation as the previous corrected answer) ...
    all_sequences, all_company_ids, all_targets = [], [], []
    max_len = 0; skipped_nan_sequences, skipped_nan_targets = 0, 0
    company_groups = df.groupby(company_col_id_encoded)
    for company_id, group in company_groups:
        group = group.sort_values(year_col); features = group[numeric_cols].values; targets = group[target_cols].values
        for i in range(min_hist_years, len(group)):
            current_sequence = features[:i, :]; current_target = targets[i, :] # Get all 3 scaled targets
            if np.isnan(current_sequence).any() or np.isinf(current_sequence).any(): skipped_nan_sequences += 1; continue
            if np.isnan(current_target).any() or np.isinf(current_target).any(): skipped_nan_targets += 1; continue
            all_sequences.append(current_sequence); all_company_ids.append(company_id); all_targets.append(current_target)
            if current_sequence.shape[0] > max_len: max_len = current_sequence.shape[0]
    if skipped_nan_sequences > 0: print(f"Warning: Skipped {skipped_nan_sequences} sequences (NaN features).")
    if skipped_nan_targets > 0: print(f"Warning: Skipped {skipped_nan_targets} sequences (NaN targets).")
    if not all_sequences: return np.array([]), np.array([]), np.array([]), 0
    X_padded = pad_sequences(all_sequences, maxlen=max_len, dtype='float32', padding='pre', truncating='pre')
    y_array = np.array(all_targets, dtype='float32'); X_comp_array = np.array(all_company_ids, dtype='int32')
    if np.isnan(X_padded).any(): print("FATAL WARNING: NaNs in X_padded!")
    if np.isnan(y_array).any(): print("FATAL WARNING: NaNs in y_array!")
    return X_padded, X_comp_array, y_array, max_len


# --- [MODIFIED] Model Definition (MLP with 2 Hidden Layers) ---
print("\n--- 15. Defining MLP Model Architecture Function ---")
def build_mlp_model(max_sequence_length, num_numeric_features, num_companies, num_targets_out, # num_targets_out will be 1
                    embedding_dim=EMBEDDING_DIM, mlp_l1_units=MLP_L1_UNITS, mlp_l2_units=MLP_L2_UNITS,
                    dropout_rate=DROPOUT_RATE, learning_rate=LEARNING_RATE):
    """Builds a 2-hidden-layer MLP model that accepts sequence input (by flattening)."""

    # Input layer for sequences (will be flattened)
    sequence_input = Input(shape=(max_sequence_length, num_numeric_features), name='Sequence_Input')
    # Input layer for company ID
    company_input = Input(shape=(1,), name='Company_Input')

    # --- Flatten the sequence input ---
    # This converts (batch, timesteps, features) to (batch, timesteps * features)
    # Note: This treats padded steps the same as real steps after flattening.
    flattened_sequence = Flatten(name='Flatten_Sequence')(sequence_input)

    # --- Company Embedding Branch ---
    company_emb = Embedding(input_dim=num_companies, output_dim=embedding_dim,
                            embeddings_initializer='he_normal', name='Company_Embedding')(company_input)
    company_emb_flat = Flatten(name='Flatten_Embedding')(company_emb)

    # --- Combine Flattened Sequence and Company Embedding ---
    merged = Concatenate(name='Concatenate_FlatSeq_Embedding')([flattened_sequence, company_emb_flat])

    # --- MLP Layers ---
    # Hidden Layer 1
    x = Dense(mlp_l1_units, activation='relu', kernel_initializer='he_normal', name='MLP_Hidden_1')(merged)
    x = Dropout(dropout_rate)(x)
    # Hidden Layer 2
    x = Dense(mlp_l2_units, activation='relu', kernel_initializer='he_normal', name='MLP_Hidden_2')(x)
    x = Dropout(dropout_rate)(x)

    # Output Layer (Single neuron for regression per target)
    output = Dense(num_targets_out, name='Output_Layer')(x)

    # --- Build and Compile Model ---
    model = Model(inputs=[sequence_input, company_input], outputs=output)
    model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=learning_rate),
                  loss='mse',
                  metrics=[RootMeanSquaredError(name='rmse')])
    return model


# --- Custom Training Loop (Using MLP Model) ---
print("\n--- 16. Starting Expanding Window Training (MLP Model) ---")
results = {}
unique_years = sorted(final_df_scaled_targets['Year'].unique())
print(f"Unique years found: {unique_years}")

if len(unique_years) <= MIN_HISTORY_YEARS:
    print(f"Not enough distinct years ({len(unique_years)}) for training.")
else:
    # Outer loop: Iterate through years
    for test_year_index in range(MIN_HISTORY_YEARS, len(unique_years)):
        test_year = unique_years[test_year_index]; train_end_year = unique_years[test_year_index - 1]
        print(f"\n{'='*10} Processing Fold for Test Year: {int(test_year)} (Train up to {int(train_end_year)}) {'='*10}")

        # 1. Filter & Create base sequences (using PCA columns)
        train_df = final_df_scaled_targets[final_df_scaled_targets['Year'] <= train_end_year].copy()
        X_seq_train, X_cid_train, y_train_scaled_all, max_seq_len_train = create_sequences(
            train_df, numeric_features_for_lstm, target_cols, 'Company_ID_Encoded', 'Year', min_hist_years=MIN_HISTORY_YEARS)
        if X_seq_train.shape[0] == 0 or max_seq_len_train == 0: print(f"No valid training sequences generated. Skipping fold."); continue
        print(f"Generated {X_seq_train.shape[0]} base training sequences (Input: {X_seq_train.shape[-1]} PCs, Max Len: {max_seq_len_train}).")

        # 2. Prepare base test sequences
        test_sequences, test_company_ids, test_actuals_scaled_all = [], [], []
        # ... (same NaN-checking loop as before) ...
        test_candidate_df=final_df_scaled_targets[final_df_scaled_targets['Year']<=test_year].copy()
        for company_id, group in test_candidate_df.groupby('Company_ID_Encoded'):
            if test_year in group['Year'].values:
                 group_hist=group[group['Year']<=train_end_year]
                 if not group_hist.empty and len(group_hist)>=MIN_HISTORY_YEARS:
                     current_sequence=group_hist[numeric_features_for_lstm].values
                     actual_targets_scaled=group[group['Year']==test_year][target_cols].values.flatten()
                     if np.isnan(current_sequence).any() or np.isinf(current_sequence).any(): continue
                     if np.isnan(actual_targets_scaled).any() or np.isinf(actual_targets_scaled).any(): continue
                     test_sequences.append(current_sequence); test_company_ids.append(company_id); test_actuals_scaled_all.append(actual_targets_scaled)
        if not test_sequences: print(f"No valid test sequences generated. Skipping prediction."); continue
        X_seq_test = pad_sequences(test_sequences, maxlen=max_seq_len_train, dtype='float32', padding='pre', truncating='pre')
        X_cid_test = np.array(test_company_ids, dtype='int32')
        y_test_actual_scaled_all = np.array(test_actuals_scaled_all, dtype='float32')
        print(f"Prepared {X_seq_test.shape[0]} base valid test sequences (Input: {X_seq_test.shape[-1]} PCs).")

        # --- Inner loop: Train separate MLP model for each target ---
        results[test_year] = {}
        for target_idx, target_name in enumerate(target_cols):
            print(f"\n--- Training MLP for Target: {target_name} (Year: {int(test_year)}) ---")

            y_train_target_scaled = y_train_scaled_all[:, target_idx]
            y_test_actual_target_scaled = y_test_actual_scaled_all[:, target_idx]
            if target_name not in target_scalers or target_scalers[target_name] is None: print(f"Scaler for {target_name} not found. Skipping."); continue

            # Build MLP model (passing n_components)
            current_n_features = n_components if numeric_features_for_lstm else 0
            if current_n_features == 0: print("No PCA features to train on. Skipping model."); continue

            # Call the new MLP builder function
            model = build_mlp_model(
                max_sequence_length=max_seq_len_train,
                num_numeric_features=current_n_features, # Features per time step (used by Flatten)
                num_companies=num_companies,
                num_targets_out=1 # Single output for this target
            )
            # Optional: Print summary only once
            # if test_year_index == MIN_HISTORY_YEARS and target_idx == 0: model.summary()


            # Define Callbacks
            early_stopping = EarlyStopping(monitor='val_rmse', patience=EARLY_STOPPING_PATIENCE, restore_best_weights=True, verbose=0)
            reduce_lr = ReduceLROnPlateau(monitor='val_rmse', factor=0.2, patience=REDUCE_LR_PATIENCE, min_lr=1e-6, verbose=0)

            # Train model
            print(f"Training MLP for {target_name}...")
            history = model.fit([X_seq_train, X_cid_train.reshape(-1, 1)], y_train_target_scaled, # Still provide sequence input
                                epochs=EPOCHS, batch_size=BATCH_SIZE, validation_split=VALIDATION_SPLIT,
                                callbacks=[early_stopping, reduce_lr], verbose=0)
            epochs_trained = len(history.history['loss']); best_val_rmse = min(history.history.get('val_rmse', [np.inf]))
            print(f"Training complete ({epochs_trained} epochs). Best Val RMSE (Scaled): {best_val_rmse:.4f}")

            # Predict (scaled)
            predictions_scaled = model.predict([X_seq_test, X_cid_test.reshape(-1, 1)], verbose=0) # Still provide sequence input

            # Inverse Transform
            scaler_t = target_scalers[target_name]
            try:
                 predictions_original = scaler_t.inverse_transform(predictions_scaled).flatten()
                 y_test_actual_original = scaler_t.inverse_transform(y_test_actual_target_scaled.reshape(-1, 1)).flatten()
            except Exception as e:
                 print(f"ERROR during inverse transform for {target_name}: {e}. Storing NaNs.")
                 predictions_original = np.full(predictions_scaled.shape[0], np.nan)
                 y_test_actual_original = np.full(y_test_actual_target_scaled.shape[0], np.nan)

            # Store results
            results[test_year][target_name] = {'predictions_original': predictions_original, 'actuals_original': y_test_actual_original}

            # Evaluate fold performance (Original Scale)
            if np.isnan(predictions_original).any() or np.isnan(y_test_actual_original).any(): fold_rmse_orig = np.nan
            else: fold_rmse_orig = np.sqrt(np.mean((predictions_original - y_test_actual_original)**2))
            print(f"  --> Test RMSE for {target_name} (Original Scale): {fold_rmse_orig:.4f}")

            # Clean up memory
            del model; tf.keras.backend.clear_session(); gc.collect()

# --- Post-Loop Analysis (Separated per target) ---
print(f"\n{'='*20} Training Loop Finished {'='*20}")
# (Exact same post-loop analysis code as previous answer to print RMSE/MAE per target)
if results:
    print("\nCalculating Overall Performance Per Target (Original Scale) - MLP Model:")
    for target_idx, target_name in enumerate(target_cols):
        print(f"\n--- Overall Performance for Target: {target_name} ---")
        all_actuals_orig_list = []; all_predictions_orig_list = []; nan_folds_report = []
        for year in sorted(results.keys()):
            if year in results and target_name in results[year]:
                data = results[year][target_name]; pred_orig = data['predictions_original']; act_orig = data['actuals_original']
                if np.isnan(pred_orig).any() or np.isinf(pred_orig).any() or np.isnan(act_orig).any() or np.isinf(act_orig).any():
                    nan_folds_report.append(int(year))
                else: all_actuals_orig_list.append(act_orig); all_predictions_orig_list.append(pred_orig)
        if all_actuals_orig_list:
            all_actuals_np = np.concatenate(all_actuals_orig_list, axis=0); all_predictions_np = np.concatenate(all_predictions_orig_list, axis=0)
            final_mse = np.mean((all_predictions_np - all_actuals_np)**2); final_rmse = np.sqrt(final_mse)
            final_mae = np.mean(np.abs(all_predictions_np - all_actuals_np))
            print(f"  Final Overall RMSE (Original Scale, excluding {len(nan_folds_report)} NaN folds): {final_rmse:.4f}")
            print(f"  Final Overall MAE (Original Scale, excluding {len(nan_folds_report)} NaN folds): {final_mae:.4f}")
            if nan_folds_report: print(f"  NaN results occurred for this target in test years: {nan_folds_report}")
        else: print(f"  No valid (non-NaN) predictions in original scale generated for {target_name}.")
else: print("No results generated.")

print("\n--- Script Complete ---")

--- Initial Data Sample (from df) ---
       Year  Company  Feature1  Feature2  Feature3  Feature4  Feature5  \
18959  2020  360 ONE    253.00      7.56      6.82     42.78      5.29
20893  2021  360 ONE    239.00      9.11     12.69     29.52     23.55
22046  2022  360 ONE      1.86     13.40     19.75       NaN       NaN
22474  2023  360 ONE      2.05     13.34     21.41       NaN       NaN
23731  2024  360 ONE      2.47     14.47     24.48       NaN       NaN

       Feature6  Feature7  Feature8  ...  FE_Feature19_Diff  \
18959     -4.97      2.07   8606.08  ...                NaN
20893      2.37      0.51  10897.02  ...        -163.729996
22046       NaN      0.83  14825.74  ...         195.759995
22474       NaN     -1.06  15342.12  ...          98.419998
23731       NaN     -0.28  24221.43  ...         327.779999

       FE_Feature20_Diff  FE_Feature21_Diff  FE_Feature22_Diff  \
18959                NaN                NaN                NaN
20893              -2.01         168.029999           0.976729
22046               1.32         208.550003                NaN
22474              -1.13          80.190002                NaN
23731              -1.07         146.279999                NaN

       FE_Feature23_Diff  FE_Feature24_Diff  FE_Feature25_Diff  \
18959                NaN                NaN                NaN
20893         200.449997         112.410004         110.459999
22046         265.149994         221.449997         222.679993
22474         103.559998         132.910004         128.339996
23731         168.580002         412.869995         402.540009

       FE_Feature26_Diff  FE_Feature27_Diff  FE_Feature28_Diff
18959                NaN                NaN                NaN
20893         198.500000       -3962.850098       -3761.409912
22046         266.380005         680.090027         730.890015
22474          98.989998          86.620003         976.090027
23731         158.250000        1553.390015        2688.260010

[5 rows x 61 columns]

Initial DataFrame shape: (24164, 61)

--- 1. Cleaning Column Names ---

--- 2. Converting Columns to Numeric ---
Attempted numeric conversion. 0 columns changed type.

--- 3. Feature Engineering (Generic Differences) ---
Calculating YoY differences for 56 original numeric features...
 - Created 56 absolute difference (YoY) features.

--- 4. Separating Columns & Identifying Processing Features ---
84 numeric columns identified for processing (Original + Engineered Diffs).

--- 5. Performing KNN Imputation ---
Nulls before imputation in 84 columns (Total: 274912)
Imputation complete.

--- 6. Applying Robust Scaler ---
Scaled 84 columns (Original + Diffs) using RobustScaler.

--- 7. Capping Outliers ---
Capped outliers in 84 columns.

--- 8. Applying PCA (Retaining 95% Variance) ---
PCA applied. Reduced features from 84 to 9.

--- 9. Reconstructing DataFrame with PCA Components ---

--- 10. Scaling Target Variables (Separately) ---
Applied StandardScaler to target column: 'Target 1'
Applied StandardScaler to target column: 'Target 2'
Applied StandardScaler to target column: 'Target 3'

--- 11. Encoding Company Names ---
Encoded 'Company' into 'Company_ID_Encoded'. Found 2728 unique companies.

--- Final Preprocessed Data Sample (PCA Features, Scaled Targets) ---
   Company  Year      PC_1      PC_2      PC_3       PC_4      PC_5  \
0  360 ONE  2020 -2.076216  0.487993  4.493706  20.681005  1.268908
1  360 ONE  2021 -3.524183  1.141271  4.552005 -48.104095  0.745999
2  360 ONE  2022 -5.397738  0.314996  1.712356  18.259266  1.702733
3  360 ONE  2023 -6.190796 -1.994069 -0.421691  -6.382337  0.119390
4  360 ONE  2024 -3.673609  1.082393  3.058382  19.128183  0.224798

        PC_6       PC_7       PC_8      PC_9  Target 1  Target 2  Target 3  \
0  29.180178  12.028052 -12.588653  1.355998 -0.532997 -0.305913 -0.217087
1  -1.723940 -50.800495  53.697266 -3.610799  0.004144 -0.054479  0.007409
2   2.893743  65.474838 -35.315258  3.143202 -0.098293 -0.002931       NaN
3  -1.242177 -11.218514  -5.623585  2.790367  0.086155       NaN       NaN
4  -0.137217  22.687111  -8.105721  1.499727       NaN       NaN       NaN

   Company_ID_Encoded
0                   0
1                   0
2                   0
3                   0
4                   0

Final DataFrame shape: (24164, 15)

--- 12. Sorting Data ---

--- 13. Defining Features for Sequence Input (Using PCA Components) ---
Features for sequence input (9): ['PC_1', 'PC_2', 'PC_3', 'PC_4', 'PC_5']...

--- 14. Defining Sequence Creation Function ---

--- 15. Defining MLP Model Architecture Function ---

--- 16. Starting Expanding Window Training (MLP Model) ---
Unique years found: [np.int64(1999), np.int64(2000), np.int64(2001), np.int64(2002), np.int64(2003), np.int64(2004), np.int64(2005), np.int64(2006), np.int64(2007), np.int64(2008), np.int64(2009), np.int64(2010), np.int64(2011), np.int64(2012), np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023), np.int64(2024)]

========== Processing Fold for Test Year: 2001 (Train up to 2000) ==========
No valid training sequences generated. Skipping fold.

========== Processing Fold for Test Year: 2002 (Train up to 2001) ==========
Warning: Skipped 48 sequences (NaN targets).
Generated 463 base training sequences (Input: 9 PCs, Max Len: 2).
Prepared 488 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2002) ---
Training MLP for Target 1...
Training complete (44 epochs). Best Val RMSE (Scaled): 9.8348
  --> Test RMSE for Target 1 (Original Scale): 2044.0757

--- Training MLP for Target: Target 2 (Year: 2002) ---
Training MLP for Target 2...
Training complete (24 epochs). Best Val RMSE (Scaled): 19.6103
  --> Test RMSE for Target 2 (Original Scale): 4964.5288

--- Training MLP for Target: Target 3 (Year: 2002) ---
Training MLP for Target 3...
Training complete (44 epochs). Best Val RMSE (Scaled): 10.5442
  --> Test RMSE for Target 3 (Original Scale): 6425.6206

========== Processing Fold for Test Year: 2003 (Train up to 2002) ==========
Warning: Skipped 98 sequences (NaN targets).
Generated 951 base training sequences (Input: 9 PCs, Max Len: 3).
Prepared 503 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2003) ---
Training MLP for Target 1...
Training complete (22 epochs). Best Val RMSE (Scaled): 11.2519
  --> Test RMSE for Target 1 (Original Scale): 3198.8569

--- Training MLP for Target: Target 2 (Year: 2003) ---
Training MLP for Target 2...
Training complete (44 epochs). Best Val RMSE (Scaled): 17.4332
  --> Test RMSE for Target 2 (Original Scale): 5832.2217

--- Training MLP for Target: Target 3 (Year: 2003) ---
Training MLP for Target 3...
Training complete (30 epochs). Best Val RMSE (Scaled): 11.1080
  --> Test RMSE for Target 3 (Original Scale): 3785.3513

========== Processing Fold for Test Year: 2004 (Train up to 2003) ==========
Warning: Skipped 155 sequences (NaN targets).
Generated 1454 base training sequences (Input: 9 PCs, Max Len: 4).
Prepared 539 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2004) ---
Training MLP for Target 1...
Training complete (29 epochs). Best Val RMSE (Scaled): 13.4849
  --> Test RMSE for Target 1 (Original Scale): 4321.7554

--- Training MLP for Target: Target 2 (Year: 2004) ---
Training MLP for Target 2...
Training complete (19 epochs). Best Val RMSE (Scaled): 14.7592
  --> Test RMSE for Target 2 (Original Scale): 6833.1885

--- Training MLP for Target: Target 3 (Year: 2004) ---
Training MLP for Target 3...
Training complete (19 epochs). Best Val RMSE (Scaled): 11.4024
  --> Test RMSE for Target 3 (Original Scale): 8888.0527

========== Processing Fold for Test Year: 2005 (Train up to 2004) ==========
Warning: Skipped 201 sequences (NaN targets).
Generated 1993 base training sequences (Input: 9 PCs, Max Len: 5).
Prepared 562 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2005) ---
Training MLP for Target 1...
Training complete (32 epochs). Best Val RMSE (Scaled): 12.1709
  --> Test RMSE for Target 1 (Original Scale): 2984.4465

--- Training MLP for Target: Target 2 (Year: 2005) ---
Training MLP for Target 2...
Training complete (62 epochs). Best Val RMSE (Scaled): 14.9799
  --> Test RMSE for Target 2 (Original Scale): 2043.4987

--- Training MLP for Target: Target 3 (Year: 2005) ---
Training MLP for Target 3...
Training complete (28 epochs). Best Val RMSE (Scaled): 11.5027
  --> Test RMSE for Target 3 (Original Scale): 4758.8574

========== Processing Fold for Test Year: 2006 (Train up to 2005) ==========
Warning: Skipped 252 sequences (NaN targets).
Generated 2555 base training sequences (Input: 9 PCs, Max Len: 6).
Prepared 559 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2006) ---
Training MLP for Target 1...
Training complete (59 epochs). Best Val RMSE (Scaled): 11.1465
  --> Test RMSE for Target 1 (Original Scale): 1219.1185

--- Training MLP for Target: Target 2 (Year: 2006) ---
Training MLP for Target 2...
Training complete (21 epochs). Best Val RMSE (Scaled): 15.0249
  --> Test RMSE for Target 2 (Original Scale): 2583.6282

--- Training MLP for Target: Target 3 (Year: 2006) ---
Training MLP for Target 3...
Training complete (34 epochs). Best Val RMSE (Scaled): 14.5783
  --> Test RMSE for Target 3 (Original Scale): 4962.6748

========== Processing Fold for Test Year: 2007 (Train up to 2006) ==========
Warning: Skipped 293 sequences (NaN targets).
Generated 3114 base training sequences (Input: 9 PCs, Max Len: 7).
Prepared 588 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2007) ---
Training MLP for Target 1...
Training complete (75 epochs). Best Val RMSE (Scaled): 7.2369
  --> Test RMSE for Target 1 (Original Scale): 1115.5266

--- Training MLP for Target: Target 2 (Year: 2007) ---
Training MLP for Target 2...
Training complete (42 epochs). Best Val RMSE (Scaled): 10.3119
  --> Test RMSE for Target 2 (Original Scale): 2722.6467

--- Training MLP for Target: Target 3 (Year: 2007) ---
Training MLP for Target 3...
Training complete (50 epochs). Best Val RMSE (Scaled): 9.0870
  --> Test RMSE for Target 3 (Original Scale): 3368.2854

========== Processing Fold for Test Year: 2008 (Train up to 2007) ==========
Warning: Skipped 334 sequences (NaN targets).
Generated 3702 base training sequences (Input: 9 PCs, Max Len: 8).
Prepared 641 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2008) ---
Training MLP for Target 1...
Training complete (41 epochs). Best Val RMSE (Scaled): 8.1626
  --> Test RMSE for Target 1 (Original Scale): 1372.2422

--- Training MLP for Target: Target 2 (Year: 2008) ---
Training MLP for Target 2...
Training complete (44 epochs). Best Val RMSE (Scaled): 9.3706
  --> Test RMSE for Target 2 (Original Scale): 2465.0356

--- Training MLP for Target: Target 3 (Year: 2008) ---
Training MLP for Target 3...
Training complete (49 epochs). Best Val RMSE (Scaled): 8.7946
  --> Test RMSE for Target 3 (Original Scale): 8060.5391

========== Processing Fold for Test Year: 2009 (Train up to 2008) ==========
Warning: Skipped 362 sequences (NaN targets).
Generated 4343 base training sequences (Input: 9 PCs, Max Len: 9).
Prepared 695 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2009) ---
Training MLP for Target 1...
Training complete (56 epochs). Best Val RMSE (Scaled): 6.9284
  --> Test RMSE for Target 1 (Original Scale): 1448.6750

--- Training MLP for Target: Target 2 (Year: 2009) ---
Training MLP for Target 2...
Training complete (75 epochs). Best Val RMSE (Scaled): 6.5839
  --> Test RMSE for Target 2 (Original Scale): 1840.0038

--- Training MLP for Target: Target 3 (Year: 2009) ---
Training MLP for Target 3...
Training complete (72 epochs). Best Val RMSE (Scaled): 7.3502
  --> Test RMSE for Target 3 (Original Scale): 3703.0896

========== Processing Fold for Test Year: 2010 (Train up to 2009) ==========
Warning: Skipped 401 sequences (NaN targets).
Generated 5038 base training sequences (Input: 9 PCs, Max Len: 10).
Prepared 764 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2010) ---
Training MLP for Target 1...
Training complete (75 epochs). Best Val RMSE (Scaled): 3.3677
  --> Test RMSE for Target 1 (Original Scale): 847.5300

--- Training MLP for Target: Target 2 (Year: 2010) ---
Training MLP for Target 2...
Training complete (42 epochs). Best Val RMSE (Scaled): 7.9909
  --> Test RMSE for Target 2 (Original Scale): 3689.9968

--- Training MLP for Target: Target 3 (Year: 2010) ---
Training MLP for Target 3...
Training complete (75 epochs). Best Val RMSE (Scaled): 5.5224
  --> Test RMSE for Target 3 (Original Scale): 3719.5430

========== Processing Fold for Test Year: 2011 (Train up to 2010) ==========
Warning: Skipped 438 sequences (NaN targets).
Generated 5802 base training sequences (Input: 9 PCs, Max Len: 11).
Prepared 765 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2011) ---
Training MLP for Target 1...
Training complete (75 epochs). Best Val RMSE (Scaled): 4.5709
  --> Test RMSE for Target 1 (Original Scale): 517.0872

--- Training MLP for Target: Target 2 (Year: 2011) ---
Training MLP for Target 2...
Training complete (27 epochs). Best Val RMSE (Scaled): 9.1367
  --> Test RMSE for Target 2 (Original Scale): 4337.1934

--- Training MLP for Target: Target 3 (Year: 2011) ---
Training MLP for Target 3...
Training complete (58 epochs). Best Val RMSE (Scaled): 5.7373
  --> Test RMSE for Target 3 (Original Scale): 3247.1433

========== Processing Fold for Test Year: 2012 (Train up to 2011) ==========
Warning: Skipped 481 sequences (NaN targets).
Generated 6567 base training sequences (Input: 9 PCs, Max Len: 12).
Prepared 799 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2012) ---
Training MLP for Target 1...
Training complete (59 epochs). Best Val RMSE (Scaled): 5.7613
  --> Test RMSE for Target 1 (Original Scale): 825.6690

--- Training MLP for Target: Target 2 (Year: 2012) ---
Training MLP for Target 2...
Training complete (75 epochs). Best Val RMSE (Scaled): 3.6174
  --> Test RMSE for Target 2 (Original Scale): 991.5040

--- Training MLP for Target: Target 3 (Year: 2012) ---
Training MLP for Target 3...
Training complete (54 epochs). Best Val RMSE (Scaled): 6.5230
  --> Test RMSE for Target 3 (Original Scale): 4819.6812

========== Processing Fold for Test Year: 2013 (Train up to 2012) ==========
Warning: Skipped 540 sequences (NaN targets).
Generated 7366 base training sequences (Input: 9 PCs, Max Len: 13).
Prepared 845 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2013) ---
Training MLP for Target 1...
Training complete (35 epochs). Best Val RMSE (Scaled): 6.3139
  --> Test RMSE for Target 1 (Original Scale): 1224.4453

--- Training MLP for Target: Target 2 (Year: 2013) ---
Training MLP for Target 2...
Training complete (75 epochs). Best Val RMSE (Scaled): 3.5351
  --> Test RMSE for Target 2 (Original Scale): 644.5537

--- Training MLP for Target: Target 3 (Year: 2013) ---
Training MLP for Target 3...
Training complete (75 epochs). Best Val RMSE (Scaled): 4.5934
  --> Test RMSE for Target 3 (Original Scale): 5964.9019

========== Processing Fold for Test Year: 2014 (Train up to 2013) ==========
Warning: Skipped 590 sequences (NaN targets).
Generated 8211 base training sequences (Input: 9 PCs, Max Len: 14).
Prepared 861 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2014) ---
Training MLP for Target 1...
Training complete (75 epochs). Best Val RMSE (Scaled): 3.4516
  --> Test RMSE for Target 1 (Original Scale): 581.5602

--- Training MLP for Target: Target 2 (Year: 2014) ---
Training MLP for Target 2...
Training complete (42 epochs). Best Val RMSE (Scaled): 6.3697
  --> Test RMSE for Target 2 (Original Scale): 3147.7024

--- Training MLP for Target: Target 3 (Year: 2014) ---
Training MLP for Target 3...
Training complete (75 epochs). Best Val RMSE (Scaled): 3.3896
  --> Test RMSE for Target 3 (Original Scale): 3067.5662

========== Processing Fold for Test Year: 2015 (Train up to 2014) ==========
Warning: Skipped 647 sequences (NaN targets).
Generated 9072 base training sequences (Input: 9 PCs, Max Len: 15).
Prepared 871 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2015) ---
Training MLP for Target 1...
Training complete (75 epochs). Best Val RMSE (Scaled): 2.9278
  --> Test RMSE for Target 1 (Original Scale): 361.1517

--- Training MLP for Target: Target 2 (Year: 2015) ---
Training MLP for Target 2...
Training complete (75 epochs). Best Val RMSE (Scaled): 2.9174
  --> Test RMSE for Target 2 (Original Scale): 612.4217

--- Training MLP for Target: Target 3 (Year: 2015) ---
Training MLP for Target 3...
Training complete (75 epochs). Best Val RMSE (Scaled): 3.1248
  --> Test RMSE for Target 3 (Original Scale): 947.8000

========== Processing Fold for Test Year: 2016 (Train up to 2015) ==========
Warning: Skipped 685 sequences (NaN targets).
Generated 9943 base training sequences (Input: 9 PCs, Max Len: 16).
Prepared 867 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2016) ---
Training MLP for Target 1...
Training complete (75 epochs). Best Val RMSE (Scaled): 2.4694
  --> Test RMSE for Target 1 (Original Scale): 285.4758

--- Training MLP for Target: Target 2 (Year: 2016) ---
Training MLP for Target 2...
Training complete (75 epochs). Best Val RMSE (Scaled): 2.8010
  --> Test RMSE for Target 2 (Original Scale): 1226.4456

--- Training MLP for Target: Target 3 (Year: 2016) ---
Training MLP for Target 3...
Training complete (75 epochs). Best Val RMSE (Scaled): 2.6791
  --> Test RMSE for Target 3 (Original Scale): 938.7828

========== Processing Fold for Test Year: 2017 (Train up to 2016) ==========
Warning: Skipped 725 sequences (NaN targets).
Generated 10810 base training sequences (Input: 9 PCs, Max Len: 17).
Prepared 913 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2017) ---
Training MLP for Target 1...
Training complete (75 epochs). Best Val RMSE (Scaled): 2.5225
  --> Test RMSE for Target 1 (Original Scale): 154.8875

--- Training MLP for Target: Target 2 (Year: 2017) ---
Training MLP for Target 2...
Training complete (75 epochs). Best Val RMSE (Scaled): 2.5804
  --> Test RMSE for Target 2 (Original Scale): 392.4193

--- Training MLP for Target: Target 3 (Year: 2017) ---
Training MLP for Target 3...
Training complete (75 epochs). Best Val RMSE (Scaled): 2.4592
  --> Test RMSE for Target 3 (Original Scale): 579.9863

========== Processing Fold for Test Year: 2018 (Train up to 2017) ==========
Warning: Skipped 774 sequences (NaN targets).
Generated 11723 base training sequences (Input: 9 PCs, Max Len: 18).
Prepared 914 base valid test sequences (Input: 9 PCs).

--- Training MLP for Target: Target 1 (Year: 2018) ---
Training MLP for Target 1...
Training complete (75 epochs). Best Val RMSE (Scaled): 2.1438
  --> Test RMSE for Target 1 (Original Scale): 121.5691

--- Training MLP for Target: Target 2 (Year: 2018) ---
Training MLP for Target 2...
Training complete (75 epochs). Best Val RMSE (Scaled): 2.2765
  --> Test RMSE for Target 2 (Original Scale): 198.4133

--- Training MLP for Target: Target 3 (Year: 2018) ---
Training MLP for Target 3...
Training complete (75 epochs). Best Val RMSE (Scaled): 2.2215
  --> Test RMSE for Target 3 (Original Scale): 479.4140

========== Processing Fold for Test Year: 2019 (Train up to 2018) ==========
Warning: Skipped 811 sequences (NaN targets).